<section class="local-pluginusagereporter-dashboard">
    <h2>{{#str}}pluginusagereporterdashboard, local_pluginusagereporter{{/str}}</h2>
    <table id="reports-table" class="generaltable">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{#str}}username, local_pluginusagereporter{{/str}}</th>
                <th>{{#str}}created, local_pluginusagereporter{{/str}}</th>
                <th>{{#str}}actions, local_pluginusagereporter{{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#reports}}
            <tr>
                <td>{{id}}</td>
                <td>{{username}}</td>
                <td>{{created}}</td>
                <td>
                    <a href="{{downloadurlcsv}}" class="btn btn-secondary btn-sm">{{#str}}downloadcsv, local_pluginusagereporter{{/str}}</a>
                    <a href="{{downloadurltxt}}" class="btn btn-secondary btn-sm">{{#str}}downloadtxt, local_pluginusagereporter{{/str}}</a>
                    <a href="{{downloadurlhtml}}" class="btn btn-secondary btn-sm">{{#str}}downloadhtml, local_pluginusagereporter{{/str}}</a>
                    <a href="{{deleteurl}}" class="btn btn-danger btn-sm">{{#str}}delete, local_pluginusagereporter{{/str}}</a>
                </td>
            </tr>
            {{/reports}}
        </tbody>
    </table>
</section>
